
    body{
        text-align: center;
        background: #206868;
        font-family: Arial, sans-serif;
    }

    body input{
        display: flex;
        text-align: center;
        margin: 10px;
        background: rgba(255, 255, 255, 0.582);
        line-height: 30px;
        border-radius: 10px;
        border: none;
    }
    body h1{
        color: #273b41;
    }
    .contenedor{
        display: inline-block;
        flex-direction: row;
        margin: 10px;
        text-align: center;
    }

    .botones button{
        display: inline-block;
        background: #425066;
        text-align: center;
        color: rgb(185, 180, 180);
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
        cursor: pointer;
    }

    .chec{
        color: #273b41;
        display: flex;
        align-items: center;
        gap: 14px;
        justify-content: center;
    }
    
    #resultado, #resul{
        color: #273b41;
    }

